.type-normal {
  background-color: #A8A878;
  color: white;
  border-radius: 10px;
  padding: 2px 5px;
  font-weight: bold;
}

.type-fire {
  background-color: #F08030;
  color: white;
  border-radius: 10px;
  padding: 2px 5px;
  font-weight: bold;
}

.type-water {
  background-color: #6890F0;
  color: white;
  border-radius: 10px;
  padding: 2px 5px;
  font-weight: bold;
}

.type-electric {
  background-color: #F8D030;
  color: black;
  border-radius: 10px;
  padding: 2px 5px;
  font-weight: bold;
}

.type-grass {
  background-color: #78C850;
  color: white;
  border-radius: 10px;
  padding: 2px 5px;
  font-weight: bold;
}

.type-ice {
  background-color: #98D8D8;
  color: black;
  border-radius: 10px;
  padding: 2px 5px;
  font-weight: bold;
}

.type-fighting {
  background-color: #C03028;
  color: white;
  border-radius: 10px;
  padding: 2px 5px;
  font-weight: bold;
}

.type-poison {
  background-color: #A040A0;
  color: white;
  border-radius: 10px;
  padding: 2px 5px;
  font-weight: bold;
}

.type-ground {
  background-color: #E0C068;
  color: black;
  border-radius: 10px;
  padding: 2px 5px;
  font-weight: bold;
}

.type-flying {
  background-color: #A890F0;
  color: white;
  border-radius: 10px;
  padding: 2px 5px;
  font-weight: bold;
}

.type-psychic {
  background-color: #F85888;
  color: white;
  border-radius: 10px;
  padding: 2px 5px;
  font-weight: bold;
}

.type-bug {
  background-color: #A8B820;
  color: white;
  border-radius: 10px;
  padding: 2px 5px;
  font-weight: bold;
}

.type-rock {
  background-color: #B8A038;
  color: white;
  border-radius: 10px;
  padding: 2px 5px;
  font-weight: bold;
}

.type-ghost {
  background-color: #705898;
  color: white;
  border-radius: 10px;
  padding: 2px 5px;
  font-weight: bold;
}

.type-dragon {
  background-color: #7038F8;
  color: white;
  border-radius: 10px;
  padding: 2px 5px;
  font-weight: bold;
}

.type-dark {
  background-color: #705848;
  color: white;
  border-radius: 10px;
  padding: 2px 5px;
  font-weight: bold;
}

.type-steel {
  background-color: #B8B8D0;
  color: black;
  border-radius: 10px;
  padding: 2px 5px;
  font-weight: bold;
}

.type-fairy {
  background-color: #EE99AC;
  color: black;
  border-radius: 10px;
  padding: 2px 5px;
  font-weight: bold;
}

.type-icon {
  width: 55px;
  height: 55px;
  object-fit: contain;
}